  .outerContainer {
    margin: 5%;
    width: 90%;
    border: 0px solid #b6b6b6;
    /* box-sizing: content-box; */
    flex-direction: row;
    justify-content: space-around;
  }
  
  div.container {
    color: #eeeeee;
    margin-bottom: 10px;
    padding: 0px;
    margin: 15px;
    flex-wrap: wrap;
  }
  
  div.container > div {
    /* height: 800px;
    min-width: 600px; */
    background-color: white;
  }

  div.container > .box{
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    border: 1px solid #b6b6b6;
    box-shadow: 0px 2px #888888;

  
  }

  .imageBeer{
    object-fit : contain ;
    max-width: 450px;
  }

  .text-title {
    margin-left: 10px;
    margin-bottom: 5px;

    align-content: center;    
    vertical-align: middle;

    color: black;
    font-weight: bold;
    font-size: 20px;
  }

  .text-unit {
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 18px;

    align-content: center;
    color: rgb(53, 52, 52);
    vertical-align: middle;
  }

  .text-amount {
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 18px;

    align-content: center;
    color: black;
    vertical-align: middle;
  }

  .text-promotion{
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 18px;

    align-content: center;
    color: green;
    vertical-align: middle;
  }

  .text-details{
    margin-left: 10px;
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 18px;

    align-content: center;
    color: blue;
    vertical-align: middle;
  }
  .description{
    height: 190px;
    margin-bottom: 0px !important;
  }

  .button-container{
    margin-left: 10px;
    padding-top: 0px;
    margin-bottom: 10px;
  }

  .addbutton{
    margin-left : 10px;
    min-width: 100px !important;
    color: blue;
    border: 1px solid blue;
  }
  .mat-fab.mat-accent{
    background-color: white;
    border: 1px solid blue ;
  }

  .inpitValue{
    margin: 10px;
    padding-left: 30px;
    width: 30px !important;
    height: 30px;
    border: 1px solid rgb(156, 156, 156);
    color: black;
    align-content: center !important; 

    font-size: 18px;
  }


  .mat-fab .mat-button-wrapper{
    padding: 0px !important;
  }

  .iconRecycling{
    width: 5px !important;
    height: 5px;
    color: blue;
    font-size: 15px
  }


  @media (max-width: 1550px){
    .addbutton{
      margin-left : 10px;
      min-width: 70px !important;
      color: blue;
      border: 1px solid blue;
    }

    .mat-fab {
      width: 46px;
      height: 46px;
    }
 } 

  @media (max-width: 1300px){
    .button-container{
      margin-left: 10px;
      padding-top: 15px;
      margin-bottom: 10px;
    }

    .addbutton{
      margin-left : 10px;
      min-width: 50px !important;
      color: blue;
      border: 1px solid blue;
    }


    .inpitValue{
      margin: 10px;
      padding-left: 30px;
      width: 20px !important;
      height: 30px;
      border: 1px solid rgb(156, 156, 156);
      color: black;
      align-content: center !important; 
  
      font-size: 18px;
    }

    .mat-fab {
      width: 40px;
      height: 40px;
    }
 } 

 @media (max-width: 960px){
  .button-container{
    margin-left: 10px;
    padding-top: 15px;
    margin-bottom: 10px;
  }
  .inpitValue{
    margin: 10px;
    padding-left: 30px;
    width: 20px !important;
    height: 30px;
    border: 1px solid rgb(156, 156, 156);
    color: black;
    align-content: center !important; 

    font-size: 18px;
  }

  .mat-fab {
    width: 46px;
    height: 46px;
    vertical-align: middle;
  }
} 

  @media (max-width: 800px){
    .imageBeer{
      max-width: 500px;
     }
 } 

  @media (max-width: 450px){
    .imageBeer{
      max-width: 355px;
     }
 } 
  @media (max-width: 375px){
     .imageBeer{
       max-width: 300px;
      }
  } 